html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color:#f4f1ec;
  font-family: 'Source Sans', sans-serif;
}

.container {
  background-color:#f4f1ec;
  font-family: 'Source Sans', sans-serif;
  width: 90%;
  margin: auto;
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  body {
    width: 100%;
      float: right;
  }
}